[Desktop Entry]
Name=Toggle Parachute
Comment=
Icon=plasmashell
Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KWin-Border-Activate=true
X-KDE-PluginInfo-Author=divinae
X-KDE-PluginInfo-Email=lipinski.jb@gmail.com
X-KDE-PluginInfo-Name=toggleparachute
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
X-KDE-PluginKeyword=toggleparachute
