[Desktop Entry]
Categories=System;Monitor;
Exec=conky -c ~/.conkyrc2 --daemonize --pause=1
Icon=conky-logomark-violet
Name=conky2
StartupNotify=false
Terminal=false
Type=Application
